* {
  margin: 0;
  padding: 0;
}

:root {
  /* https://tractie.ns.nl/2e23992f3/p/226ce1-tractie--ns-design-system */
  /* COLORS */
  --background-color-default: #ffffff;
  --background-color-elevated-sunken: #f5f5f7;
  --background-color-brand-primary: #ffc70f; 
  --background-color-brand-secondary: #0b3680; 

  --background-color-button: #0062d1;
  --heading-color: #0b3680;
  --text-color: #252528;
  --brand-color-primary: #ffc70f;
  --brand-color-secondary: #0b3680;

  --warning-color: #f05c01;
  --success-color: #3e7f67;
  --error-color: #ce092d;

  /* HOVER COLORS */


  /* HEADINGS */
  --heading-1-web: 28px;
  --heading-2-web: 24px;
  --heading-3-web: 20px;
  --heading-4-web: 18px;
  --heading-5-web: 16px;

  /* TEXT SIZE */
  --body-text-large: 1.125rem;
  --body-text-medium: 1rem;
  --body-text-small: 0.875rem;
  --body-text-x-small: 0.75rem;

  --padding-insert: 16px;

  /* BORDER-RADIUS */
  --border-radius-small: 3px;
  --border-radius-default: 6px;
  --border-radius-large: 12px;

    /* SPACING */
  --spacing-inset-m: 16px;
  --spacing-gap-s: 8px;
  --spacing-gap-m: 24px;

}


/**************************************/
/*               MARK: fonts          */
/**************************************/


@font-face {
  /* https://www.ns.nl/ */
  font-family: nssans;
  src: url(/fonts/nssans-regular.woff2);
}


@font-face {
  /* https://www.ns.nl/ */
  font-family: nssans-bold;
  src: url(/fonts/nssans-bold.woff2);
}


/**************************************/
/* Generieke code die herbruikbaar is */
/**************************************/
.hiddenBlock + div {
  display: none;

}

.hiddenBlock:has([value="yes"]:checked) + div {
  display: block;
}


/**************************************/
/*          MARK: Algemene styling    */
/**************************************/
body {
  font-family: nssans, sans-serif;
  background-color: var(--background-color-elevated-sunken) ;
}

header {
  background-color: var(--background-color-brand-primary);
  padding: var(--spacing-inset-m);
}

form {
  display: flex;
  flex-direction: column;

    & > fieldset {
    border-radius: var(--border-radius-default);
    margin: var(--spacing-gap-m);
    padding: var(--spacing-inset-m);

      & > legend {
        font-size: var(--heading-2-web);
      }
  }
}

fieldset {
  background-color: var(--background-color-default);
  border:none;
  margin: var(--spacing-gap-m) 0;

  & fieldset legend {
    font-size: var(--body-text-medium);
  }
}

legend {
  /* haalt de legend uit de border */
  /* float: left; */
  font-family: nssans-bold, sans-serif;
  color: var(--heading-color);
  font-size: var(--body-text-small);

}

h1 {
  color: var(--heading-color);
  font-size: var(--heading-1-web);
  font-family: nssans-bold, sans-serif;
}

[class="heading"] {
  font-size: var(--heading-3-web);
}

label{
  color: var(--heading-color);
  display: block;
  padding-top: var(--padding-insert);
}

button {
  border: none;
  background-color: var(--background-color-button);
  border-radius: var(--border-radius-default);
  color: var(--background-color-default);
  font-family: nssans-bold, sans-serif;
  padding: var(--padding-insert);
  
  width: 10rem;
  align-self: center;

}

/* De warning tekst */
header {


  p:first-of-type {
  font-size: var(--body-text-large);
  color: var(--warning-color);
}
}


/**************************************/
/*   MARK: Specifieke input styling   */
/**************************************/

[type="file"] button {
  background-color: var(--background-color-button);
}




/**************************************/
/*   MARK: Invalid en valid styling   */
/**************************************/










